body {
  margin: 0;
  background: black;
  color: #9effec;
  font-family: "Orbitron", monospace;
  animation: glitchScreen 0.2s infinite;
}

h1 {
  position: relative;
  font-size: 90px;
  text-align: center;
  margin-top: 50vh;
  animation: flicker 2s infinite;
}

h1::before,
h1::after {
  content: attr(data-text);
  position: absolute;
  left: 0;
  width: 100%;
}

h1::before {
  color: #ff9fff;
  z-index: -1;
  animation: glitchTop 0.3s infinite;
}

h1::after {
  color: #4ef7f7;
  z-index: -2;
  animation: glitchBottom 0.3s infinite;
}

@keyframes glitchTop {
  0% { transform: translate(0); }
  20% { transform: translate(-4px, -4px); }
  40% { transform: translate(-4px, 4px); }
  60% { transform: translate(4px, -4px); }
  80% { transform: translate(4px, 4px); }
  100% { transform: translate(0); }
}

@keyframes glitchBottom {
  0% { transform: translate(0); }
  20% { transform: translate(4px, 4px); }
  40% { transform: translate(4px, -4px); }
  60% { transform: translate(-4px, 4px); }
  80% { transform: translate(-4px, -4px); }
  100% { transform: translate(0); }
}

@keyframes flicker {
  0%, 100% { opacity: 1; }
  50% { opacity: 0.7; }
  55% { opacity: 0.3; }
  60% { opacity: 1; }
}

@keyframes glitchScreen {
  0% { transform: translate(0); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  75% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}

body::after {
  content: "";
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background: repeating-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.05) 0px,
    rgba(255,255,255,0.05) 1px,
    transparent 2px,
    transparent 4px
  );
}

.glitch-btn {
  margin: 40px auto;
  display: block;
  padding: 35px 50px;
  font-size: 30px;
  font-family: "Orbitron", monospace;
  color: #dde3e2;
  background: transparent;
  border: 2px solid #bdc2c1;
  cursor: pointer;
  position: relative;
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
}

.glitch-btn:hover {
  color: black;
  background: #929494;
  box-shadow: 0 0 30px #e3f1f1, 0 0 50px #a7a8a8;
  animation: glitchBtn 0.2s infinite;
}

@keyframes glitchBtn {
  0% { transform: translate(0); }
  25% { transform: translate(2px, -2px); }
  50% { transform: translate(-2px, 2px); }
  75% { transform: translate(1px, -1px); }
  100% { transform: translate(0); }
}
.glitch-btn::before,
.glitch-btn::after {
  content: "seguro me encuentro con alguien para parchar";
  position: absolute;
  left: 0;
  width: 100%;
  opacity: 0;
}

.glitch-btn:hover::before {
  color: #c3bec3;
  opacity: 0.7;
  transform: translate(-2px, -2px);
}

.glitch-btn:hover::after {
  color: #e1e6e6;
  opacity: 0.7;
  transform: translate(2px, 2px);
}

.puerta {
  display: block;
  margin: 100px auto;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: contrast(1.2) hue-rotate(10deg);
}

.puerta:hover {
  transform: scale(1.1) rotateY(15deg);
  filter: brightness(1.5);
}
.puerta:active {
  animation: puertaGlitch 0.2s;
}

@keyframes puertaGlitch {
  0% { transform: translate(0); }
  25% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, 5px); }
  75% { transform: translate(3px, -3px); }
  100% { transform: translate(0); }
}

.mensaje {
  text-align: center;
  margin-top: 180px;
  font-size: 35px;
  color: #b8ccc8;
  font-family: "Orbitron", monospace;
  animation: glitchText 1.5s infinite;
}
@keyframes glitchText {
  0% { text-shadow: 1px 0 red, -1px 0 blue; }
  20% { text-shadow: -1px -1px red, 1px 1px blue; }
  40% { text-shadow: 1px -1px red, -1px 1px blue; }
  60% { text-shadow: -1px 1px red, 1px -1px blue; }
  80% { text-shadow: 1px 1px red, -1px -1px blue; }
  100% { text-shadow: 1px 0 red, -1px 0 blue; }
}
.glitch-btn {
  margin: 60px auto;
  display: block;
  padding: 15px 25px;
  font-size: 36px;
  font-family: "Orbitron", monospace;
  color: #a5aaa9;
  background: transparent;
  border: 2px solid #d7d7d7;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  transition: 0.3s;
}
.glitch-btn:hover {
  background: #d3d3d3;
  color: black;
  box-shadow: 0 0 15px #e1e1e1;
  transform: scale(1.05);
}

.tv-gif {
  width: 200px;

  position: relative;
  left: 150px;
  top: 300px;

  animation: tvGlitch 0.4s infinite;
}

@keyframes tvGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -1px); }
  40% { transform: translate(-2px, 1px); }
  60% { transform: translate(1px, 2px); }
  80% { transform: translate(-1px, -2px); }
  100% { transform: translate(0); }
}
.clock-gif {
  width: 100px;

  position: relative;

  top: 100px;
  left: 300px;

  filter: contrast(1.2) brightness(0.9) hue-rotate(10deg);

  animation: clockGlitch 0.5s infinite;
}

@keyframes clockGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -2px); }
  40% { transform: translate(-2px, 2px); }
  60% { transform: translate(1px, 1px); }
  80% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}


.mensaje-objetos{
  text-align:center;
  margin-top:40px;

  font-size:45px;
  color:#c9d1cf;

  font-family:"Orbitron", monospace;

  animation: glitchMensaje 1s infinite;
}


@keyframes glitchMensaje {

  0%{
    text-shadow:
      2px 0 red,
      -2px 0 blue;
  }

  25%{
    text-shadow:
      -2px -2px red,
      2px 2px blue;
  }

  50%{
    text-shadow:
      2px -2px red,
      -2px 2px blue;
  }

  75%{
    text-shadow:
      -2px 2px red,
      2px -2px blue;
  }

  100%{
    text-shadow:
      2px 0 red,
      -2px 0 blue;
  }
}



.glitch-btn2{

  display:block;

  margin:150px auto;

  padding:15px 30px;

  background:transparent;

  border:2px solid #cfd3d2;

  color:#d7dddd;

  font-family:"Orbitron", monospace;

  font-size:26px;

  text-transform:uppercase;

  letter-spacing:2px;

  cursor:pointer;

  transition:0.3s;

  position:relative;

  overflow:hidden;
}



.glitch-btn2:hover{

  background:#d5d8d8;

  color:black;

  box-shadow:
    0 0 10px #ffffff,
    0 0 20px #c8c8c8;

  animation: glitchBoton 0.2s infinite;
}


@keyframes glitchBoton {

  0%{
    transform:translate(0);
  }

  25%{
    transform:translate(2px,-2px);
  }

  50%{
    transform:translate(-2px,2px);
  }

  75%{
    transform:translate(2px,2px);
  }

  100%{
    transform:translate(0);
  }
}


.volver-btn{

  position:fixed;

  top:20px;
  left:20px;

  padding:12px 24px;

  background:transparent;

  border:2px solid #d2d7d6;

  color:#d7dddd;

  font-family:"Orbitron", monospace;

  font-size:14px;

  text-transform:uppercase;

  letter-spacing:2px;

  cursor:pointer;

  overflow:hidden;

  transition:0.3s;

  z-index:999;
}


.volver-btn:hover{

  background:#d9dddd;

  color:black;

  box-shadow:
    0 0 10px #ffffff,
    0 0 20px #cccccc;

  animation: volverGlitch 0.15s infinite;
}


.volver-btn::before,
.volver-btn::after{

  content:"volver al inicio";

  position:absolute;

  left:0;
  top:0;

  width:100%;
  height:100%;

  display:flex;

  align-items:center;
  justify-content:center;

  opacity:0;
}


.volver-btn:hover::before{

  color:red;

  opacity:0.7;

  transform:translate(-2px,-2px);
}


.volver-btn:hover::after{

  color:cyan;

  opacity:0.7;

  transform:translate(2px,2px);
}


@keyframes volverGlitch{

  0%{
    transform:translate(0);
  }

  25%{
    transform:translate(2px,-2px);
  }

  50%{
    transform:translate(-2px,2px);
  }

  75%{
    transform:translate(2px,2px);
  }

  100%{
    transform:translate(0);
  }
}

.hombre-gif {
  width: 200px;

  position: relative;
  left: 1400px;
  top: 300px;

  animation: tvGlitch 0.4s infinite;
}

@keyframes tvGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -1px); }
  40% { transform: translate(-2px, 1px); }
  60% { transform: translate(1px, 2px); }
  80% { transform: translate(-1px, -2px); }
  100% { transform: translate(0); }
}

.espejo-gif {
  width: 600px;

  position: relative;
  left: 200px;
  top: 900px;

  animation: tvGlitch 0.4s infinite;
}

@keyframes tvGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -1px); }
  40% { transform: translate(-2px, 1px); }
  60% { transform: translate(1px, 2px); }
  80% { transform: translate(-1px, -2px); }
  100% { transform: translate(0); }
}

.mensaje-C{
  text-align: center;
  margin-top: 10px;

  font-size: 55px;
  color: #c9d1cf;

  font-family: "Orbitron", monospace;

  animation: glitchMensaje 1s infinite linear;
}

@keyframes glitchMensaje {
  0%{
    text-shadow:
      2px 0px red,
      -2px 0px blue;
  }

  25%{
    text-shadow:
      -2px -2px red,
      2px 2px blue;
  }

  50%{
    text-shadow:
      2px -2px red,
      -2px 2px blue;
  }

  75%{
    text-shadow:
      -2px 2px red,
      2px -2px blue;
  }

  100%{
    text-shadow:
      2px 0px red,
      -2px 0px blue;
  }
}

.machine-gif {
  width: 600px;

  position: relative;

  top: 800px;
  left: 300px;

  filter: contrast(1.2) brightness(0.9) hue-rotate(10deg);

  animation: machineGlitch 0.5s infinite;
}

@keyframes machineGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -2px); }
  40% { transform: translate(-2px, 2px); }
  60% { transform: translate(1px, 1px); }
  80% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}

.mano-gif {
  width: 600px;

  position: relative;

  top: 880px;
  left: 800px;

  filter: contrast(1.2) brightness(0.9) hue-rotate(10deg);

  animation: manoGlitch 0.5s infinite;
}

@keyframes manoGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -2px); }
  40% { transform: translate(-2px, 2px); }
  60% { transform: translate(1px, 1px); }
  80% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}

.hombrecito-gif {
  width: 500px;

  position: relative;

  top: 700px;
  left: 800px;

  filter: contrast(1.2) brightness(0.9) hue-rotate(10deg);

  animation: hombrecitoGlitch 0.5s infinite;
}

@keyframes hombrecitoGlitch {
  0% { transform: translate(0); }
  20% { transform: translate(2px, -2px); }
  40% { transform: translate(-2px, 2px); }
  60% { transform: translate(1px, 1px); }
  80% { transform: translate(-1px, -1px); }
  100% { transform: translate(0); }
}

.glitch-botonC{
  text-align: center;
  display: block;   /* clave: ya no ocupa toda la línea */

  padding: 15px 30px;

  background: transparent;
  border: 2px solid #cfd3d2;

  color: #d7dddd;
  font-family: "Orbitron", monospace;
  font-size: 26px;

  text-transform: uppercase;
  letter-spacing: 2px;

  cursor: pointer;
  transition: 0.3s;

  position: relative;
  overflow: hidden;

  margin: 0 auto; /* elimina el espacio gigante */
}

/* hover */
.glitch-botonC:hover{
  background: #d5d8d8;
  color: black;

  box-shadow:
    0 0 10px #ffffff,
    0 0 20px #c8c8c8;

  animation: glitchBotonC 0.2s infinite;
}

/* animación (corregida nombre) */
@keyframes glitchBotonC {
  0%   { transform: translate(0); }
  25%  { transform: translate(2px, -2px); }
  50%  { transform: translate(-2px, 2px); }
  75%  { transform: translate(2px, 2px); }
  100% { transform: translate(0); }
}

.puerta2 {
  display: block;
  margin: 100px auto;
  width: 250px;
  cursor: pointer;
  transition: transform 0.3s ease, filter 0.3s ease;
  filter: contrast(1.2) hue-rotate(10deg);
}

.puerta2:hover {
  transform: scale(1.1) rotateY(15deg);
  filter: brightness(1.5);
}
.puerta2:active {
  animation: puerta2Glitch 0.2s;
}

@keyframes puerta2Glitch {
  0% { transform: translate(0); }
  25% { transform: translate(5px, -5px); }
  50% { transform: translate(-5px, 5px); }
  75% { transform: translate(3px, -3px); }
  100% { transform: translate(0); }
}